.App {
  min-height: 70rem;
  background-color: #c2d2cf;
  position: relative;

  background-size: cover;

  animation-name: fadeIn;
  // animation-duration: 1s;

  transition: all 0.5s;

  box-shadow: 0 2rem 2rem rgba($color-primary, 1);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      316deg,
      rgba($color-black, 0.8) 0%,
      rgba($color-black, 0.2) 20%,
      rgba($color-black, 0.5) 80%,
      rgba($color-black, 0.9) 100%
    );
  }
}
