.btn {
  padding: 1rem 2rem;
  //   background-color: red;
  text-decoration: none;

  &-link {
    border-radius: 1rem;
    background-color: $color-blue;

    transition: all 0.4s;

    &:hover {
      background-color: $color-primary-light-1;
    }
  }
}
