.nav {
  display: flex;
  justify-content: space-between;

  padding: 0 3rem;
  min-height: 10rem;

  position: relative;
  z-index: 10000;

  // backdrop-filter: blur(200px);

  &__brand {
    display: flex;
    flex: 0 1 40%;
    align-items: center;
    // margin-left: -2rem;
    // background-color: turquoise;

    & h1 {
      background-image: linear-gradient(to right, $color-primary, $color-blue);

      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  &__logo {
    width: 5rem;
    height: auto;
  }

  &__links {
    // background-color: tomato;
    padding: 0 2rem;
    display: flex;
    align-items: center;

    & ul {
      display: flex;
    }
  }

  &__item {
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 6rem;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  &__search {
    background-color: $color-white;
    border: none;
    border-radius: 100px;
    padding: 0.5rem 0.6rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__search-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: $color-gray;
  }

  &__user {
    // background-color: seagreen;
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex: 0 1 30%;

    &--name {
      margin-left: 2rem;
    }
  }
}
